<div id="home-container">
   <div id="home-main">
        <div id="main-pre-text-1" class="main-sm">I'm a lifelong learner, writer, enthusiastic developer, visual artist.</div>
        <div id="main-pre-text-2" class="main-sm"> I'm always trying to acquire knowledge and use it to</div>
        <div id="main-header-1" class="main-lg">Make Something</div>
        <div id="main-body" class="main-sm">and I hope you are, too. I built this website to share some of the things I've developed, written and drawn. I look forward to expanding it as my work continues. If you see something you like, or if you think I might like your work, tell me about it. Because it's collaboration, discussion and support that really produces the</div>
        <div id="main-header-2" class="main-lg">Wonderful</div>
    </div>
</div>