#home-container {
    display: flex;
    width: 110%;
    height: 90%;
    position: fixed;
    bottom: 0;
    margin: 0 -5px;
    padding: 0px;
}

#home-body-container {
    height: 100%;
}

@media screen and (max-width:650px){
    #home-container {
        flex-direction: column-reverse;
    }
}
@media screen and (min-width:651px){
    #home-container{
        flex-direction: row;
        flex-wrap: nowrap;
    }
}

@media screen and (max-height: 500px) {
    #home-container{
        flex-direction: column-reverse;
    }
}